@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
    }
    <div class="text-center">
        <h1 class="h1">Climate Change: Dashboard</h1>

<img src="https://lh3.googleusercontent.com/pw/ABLVV856oxzhP3a4dfHHP-b768FlzgIJXzAkLg6FEWtCCEpVI0ciNBSrVMQEynvTEGLmZKppTt5elKVHDRkvFoRcLU1SK24eZ2L5yaqj2PpIGnsv7tfcpDNohZKwjvRl56E_YTH60Da_UU9mcLpgWSGI7o9DRJHedjhFaZ4SKhv859TpCO4fQ7v5fGKqWqE8Tl4hlPnyuXNupEpjLTxeDIKMjE8Dktd5KS3xDA1eul7jhq2SqTJDQGGxewg4On206VzgDAJ3kJQnd8T_Jud8CSiUazDM4JbSFRU07Zgd7xQSG1lo5-i3oYcgy_ZnbmJFRg2ykKu6h-n4QWjyKR2RO-5YUh524C_me6Tl4olOC0CmiTlvZk5veADnnusILjtsCGo0r36p5hK43gwF1dFBqAecsyYM18QhL_Ap6l2zF8a8YCdhN8KWGVX5IDAzxYRMx6pPJJXT9suhp20s6BW_xecM5YREKw7V9ixTxDR72DEdZkR6qJ0ixYnrf-K2UctywPoLiXxx-Y43KqxDuOjTVaK8-OMiMQrvG47xz1gP3Mqami50u8ZRcoT_ekaYt3PVdtISc_yNH6dRsbBR-VpNlwW4eTB65sXiXQfTEu6YDI0sIzQpJsQx_cq0dr1PDJCszguau0VeClXv92xZE-FBGcZLzT0JBy5rEZGWpB-5yQZRpu1SQP6tL8V5yw_D3AN635Z4rq3OqnSXYmSx5MJTDYB84fU25xSrow3BIKetjuvWFg2eBwjrtREHrZI7dKtdmBkdUoWi6fv_A3uaiz2QyrhOIvUxo2UljWpfUlYYTl9Up-RadDkqABeqaI9lA2GU8WqYx_8vnCBEJUXUASaT7o1zI3-4QcCmUSrg_XntG0t7KnV5LBhgmQTKAoPgRXZLsKx1Yc2oUtiNMSm0T98iMEcd_O50ImWqhGIRZWOPLwq1ZCTWaAcwqDpQUFOMrEJSrp4" alt="Mountain Sunset in Maine" height="300px" width="300px"/>

</div>
<div class="text-center">
                <br />
                <br />

    <h2>Mean Surface Temperature Change:</h2>
                <br />
    <table class="text-center"> 
        <tr>
            <th>Year</th>
            <th>Temperature Change</th>
        </tr>
        <tr>
            <td>2017</td>
            <td>1.4°C</td>
        </tr>
        <tr>
            <td>2018</td>
            <td>1.3°C</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>1.4°C</td>
        </tr>
        <tr>
            <td>2020</td>
            <td>1.7°C</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>1.4°C</td>
        </tr>
        <tr>
            <td>2022</td>
            <td>1.4°C</td>
        </tr>
    </table>
    <p>Sourced from: <a href="https://climatedata.imf.org/datasets/4063314923d74187be9596f10d034914/explore"</a>IMF</p>
</div>
<div class="text-center">
    <br />
    <br />
    <h2 class="h2"><a href="/Index1">Contact Us!</a></h2>
</div>
